*{
margin: 0;
padding: 0;
border: 0;
}
body{
    display: grid;
    grid-template-columns: 1fr;
    h1{
        text-align: center;
    }
}
.container{
    margin: 0 auto;
    max-width: 300px;
    background-color: #4caf50;
}
#cifrar,#descifrar{
    background: #4caf50;
    color: white;
}
#mensaje,#mensaje2,#desplazamiento{
    
    border: 2px solid #1a73e8;
    padding: 8px;
}